

@import url("//unpkg.com/element-ui@2.13.1/lib/theme-chalk/index.css");
#body{

  font-family: Arial, Helvetica, sans-serif;
}
#div1{
  position: fixed; 
   left: 520px;
    bottom: 50px;
     width: 105px;
}
#div2{
  position: relative;
   right: 400px; 
   bottom: 260px;
    width: 600px; 
    height: 50px;
}
#div3{
  position: relative;
   left:210px; 
   bottom: 310px;
    width: 500px;
     height: 150px;
}





#div4{
    position: relative;
     right:100px; 
     bottom: 350px;
      width: 200px;
      height: 150px;
}
#div5{
    position: fixed;
     left: 70%;
     bottom: 30px;
      width: 200px; 
      height: 150px;
}
#div6{
    position: fixed; 
    left: 100px; 
    bottom: 250px;
     width: 85%;
      height: 150px;
      margin: 10px;

}#componente{
 
  font-style:italic;
text-align: center;

}
#h1 {
  color:#A0E1F1;
  font-size:30px;
  font-style:italic;
  text-align: center;
}#post{
  position: fixed; 
    right: 300px; 
    bottom: 450px;
     width: 50px;
      
}