#div3{
    margin: 4%;
}
#div2{
    position: absolute;
    margin: 4%;
    width: 40%;
    bottom: 55%;
}#div4{
    position: absolute;
    margin: 2%;
    left: 5%;
    bottom: 50%;
}
#div5{
    position: absolute;
    margin: 4%;
    bottom: 45%;
    left: 35%;
}