#div3{
    font-size:30px;
    font-style:italic;
   
    width: 450px;
    right: 300px;
}
#div1{
text-align: center;
    width: 30%;
}
#div4{
    width: 850px;
    right: 300px;
    font-size:40px;
    font-style:italic;
    text-align: center;
}#div2{
    position: fixed; 
    left: 100px; 
    bottom: 330px;
     width: 30%;
      height: 150px;
      margin: 10px;

}#div5{
    width: 850px;
    right: 300px;
}body{

    text-align: center;
}