
@import url("//unpkg.com/element-ui@2.13.1/lib/theme-chalk/index.css");



@import url("//unpkg.com/element-ui@2.13.1/lib/theme-chalk/index.css");
#div5{
    position: absolute;
    left: 80%;
    bottom: 8%;
    margin: 3%;
    right: 40%;
    width: 10%;
   
  }
  #div6{
    height: 40%;
   bottom: 15%;
   width: 90%;
    position: absolute;
    margin: 3%;
    height: 50%;
  
  }
  #div2{
  
    margin: 3%;
    height: 10%;
    width: 40%;
    top: 0;
  }
  #div3{
    position: absolute;
    left: 42%;
    margin: 3%;
    top: 10%;
  
  
  }#post{
    position: absolute;
    left: 80%;
    bottom: 75%;
    margin: 1%;
    right: 40%;
    width: 10%;
  }
  