
@import url("//unpkg.com/element-ui@2.13.1/lib/theme-chalk/index.css");

#div1{

    position: fixed;
     left: 600px;
     bottom: 50px; 
     width: 300px;
     text-align: center;
}
#div2{
    position: relative;
     right: 500px; 
     bottom:280px;
      width: 600px; 
      height: 50px;
  }
  #div3{
    position: relative;
     right:75px; 
     bottom: 330px;
      width: 400px;
       height: 150px;
  }

#div4{
    position: fixed; 
    left: 100px; 
    bottom: 300px;
     width: 80%;
      height: 150px;
      margin: 10px;

}
#componente{
 
    font-style:italic;
  text-align: center;
  
  }

h3 {
    color:#A0E1F1;
    font-size:30px;
    font-style:italic;
    text-align: center;
  }