#divTable{
  margin-top: 20px;
  margin-left: 3%;
  margin-right: 3%;
}

#div5{
  position: absolute;
  left: 80%;
  bottom: 8%;
  margin: 3%;
  right: 40%;
  width: 10%;
}

#div6{
  height: 40%;
 bottom: 15%;
 width: 90%;
  position: absolute;
  margin: 3%;
  height: 50%;

}
#div2{

  margin: 3%;
  height: 10%;
  width: 40%;
  top: 0;
}
#div3{
  position: absolute;
  left: 42%;
  margin: 3%;
  top: 10%;


}#post{
  position: absolute;
  left: 80%;
  bottom: 75%;
  margin: 1%;
  right: 40%;
  width: 10%;
}


#div9{
  height: 40%;
 bottom: 15%;
 width: 90%;
  position: absolute;
  margin: 3%;
  height: 50%;

}
#div7{
  display: inline-block;
}

#post1{
  position: absolute;
  left: 80%;
  bottom: 75%;
  margin: 1%;
  right: 40%;
  width: 10%;
}
#div16{
  height: 40%;
 bottom: 15%;
 width: 90%;
  position: absolute;
  margin: 3%;
  height: 50%;

}
#div12{

  margin: 3%;
  height: 10%;
  width: 40%;
  top: 0;
}
#div13{
  position: absolute;
  left: 42%;
  margin: 3%;
  top: 10%;

}

#div113{
  margin: 4%;
}

#div112{
  position: absolute;
  margin: 4%;
  width: 40%;
  bottom: 55%;
}#div114{
  position: absolute;
  margin: 2%;
  left: 5%;
  bottom: 50%;
}
#div115{
  position: absolute;
  margin: 4%;
  bottom: 45%;
  left: 35%;
}

