



html, body{
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    
}

.navbar {
    margin-bottom: 0;
    background-color:steelblue;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: #fff ;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color:red !important;
    background-color: #fff !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  
  .container{
  
  background-color: rgb(245, 243, 253);
  
      padding: 80px 120px;
  }
  
  .th{
    background-color:red;
  }
  .jumbotron {
    background-color: #636b6f; /* Orange */
    color: #ffffff;
    padding: 100px 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  
  }
  .container-fluid {
    padding: 60px 50px;
  }
  
  .texto-encima{
                  position: absolute;
                  top: 240px;
                  right: 120px;
  }
  
  .text{
    left: 380px;
  }
              .cad{
                  position: absolute;
                  top: 50%;
                  left: 80%;
                   transform: translate(-50%, -50%);
                   color:white;
             }