
/*

* { 
  margin:0;
  padding:0;
}
*/
/*
body {
  background:#0000;
  font-family:verdana;
}


*/
h2{
     color:#0000;
  font-size:24px;
}


h1 {
  color:#A0E1F1;
  font-size:30px;
  font-style:italic;
  text-align: center;
}
p {
  font-size:16px;
}

ul {
  list-style-type:none;
}

h5{
    margin-top: 20px;
}

#azul {
  background-color:#409EFF;
  float:right;
  height: 100%;
  position: fixed;
  width: 30%;
  right: 0;
  top: 0;
  text-align: center;
}
#contenido{
  background-color:#FCFCFC;
  float:left;
    height: 100%;
    width: 70%;
    padding-left: 5%;
    padding-top: 5%;
  
}
#iniciar{
 
  text-align: center;

}
#input{
  text-align: center;
}
#text{
  text-align: left;
  bottom: 60px;
}



#registrarme{
  left: 300px;
  width: 100px;
}

