<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import local CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- import element CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <!-- import Font  -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <!-- import ImgUr CSS  -->
    <link href="Img Upload/css/style.css" rel="stylesheet" media="screen">
    <link href="Img Upload/css/mobile-style.css" rel="stylesheet" media="screen">
    <title>Postear</title>

    
</head>
<body>
<div class="all">
    <h1>Publicar empleo</h1>
    <hr>
    <div class="principal">
        <div id="app">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">

                <!-- inputs Informacion -->
                <el-form-item label="Categoria:" required>
                    <el-col :span="11">
                        <el-select v-model="ruleForm.country" placeholder="Seleccionar categoria" style="width: 100%;">
                            <el-option label="Zone one" value="shanghai"></el-option>
                            <el-option label="Zone two" value="beijing"></el-option>
                        </el-select>
                    </el-col>
                </el-form-item>
                
                <!-- select Tipo de Empleo-->
                <el-form-item label="Tipo de empleo:" prop="resource">
                    <el-radio-group v-model="ruleForm.resource">
                    <el-radio label="Full time"></el-radio>
                    <el-radio label="Part time"></el-radio>
                    <el-radio label="Free lance"></el-radio>
                    </el-radio-group>
                </el-form-item>

                <!-- input URL -->
                <el-form-item label="URL" prop="region">
                    <el-input type="text" v-model="ruleForm.email" placeholder="URL"></el-ipunt>
                </el-form-item>

                <!-- inputs Informacion -->
                <el-form-item label="Informacion" required>
                    <el-col :span="11" style="margin-right: 20px;">
                    <el-form-item prop="date1">
                        <el-select v-model="ruleForm.country" placeholder="Ubicacion" style="width: 100%;">
                            <el-option label="Zone one" value="shanghai"></el-option>
                            <el-option label="Zone two" value="beijing"></el-option>
                        </el-select>                    </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-select v-model="ruleForm.country" placeholder="Posicion" style="width: 100%;">
                            <el-option label="Zone one" value="shanghai"></el-option>
                            <el-option label="Zone two" value="beijing"></el-option>
                        </el-select>
                    </el-col>
                </el-form-item>

                <!-- textare Descripcion -->
                <el-form-item label="Descripcion">
                    <el-input type="textarea"></el-input>
                </el-form-item>
                
                <!-- Botones -->
                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')">Crear</el-button>
                    <el-button @click="resetForm('ruleForm')">Limpiar</el-button>
                </el-form-item>
                
            </el-form>
        </div>
    </div>
</div>
</body>
<!-- import Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- import element JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- inport local JavaScript -->
<script src="01.js"></script>
<!-- import ImgUr JavaScript -->
<script type="text/javascript" src="Img Upload/js/imgur.js"></script>
<script type="text/javascript" src="Img Upload/js/upload.js"></script>
</html>